@import url("Nunito/Nunito.css");

* {
  position: relative;
  box-sizing: border-box;
}
body {
    font-family: 'Nunito';
    margin: 0.17em;
    /*font-size: 1.1em;*/
	color: #333;
}
input[type=text], input[type=search], select {
  font: inherit;
  padding: .1em;
  border: solid 1px #D8D8D8;
  color:inherit;
}
input[type="button"], input[type="submit"] {
  font: inherit;
  color:inherit;
  /*padding: .1em;
  min-width: 4em;*/
}
a {
  text-decoration: none;
}
table {
    border-collapse: collapse;
}
th {
    font:inherit;
}
.blur {
  filter: blur(2px);
}
.hidden {
    display:none;
}
.clearfix:after {
  clear: both;
  content: "";
}
.right {
    text-align: right;
}
.date {
    width: 6em;
}
.tb-task input[type=text], .tb-task select {
    width: 100%;
    height: 100%;
}

.datepicker-dropdown {
    position: absolute;
    background-color: white;
    border: solid 1px lightgrey;
    box-shadow: 0 0 .8em rgba(0, 0, 0, 0.2);
}

.min-no-wrap {
  width: 1px;
  white-space:nowrap;
}

.width100 {
  width: 100%;
}

#myslidemenu {
  font-size: .86em;
}

.chosen-container {
  font-size: inherit !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: inherit !important;
}